__pycache__/
.ipynb_checkpoints
.pylintrc
.vscode
*.egg-info
*.swp

/_*
.env*


# examples
examples/_try

# model files
models/*.gguf
models/_original_*
tests/res/*.gguf

# mkdocs documentation
/site

# build/distribution
/dist
/build
/cleanup.sh
