__pycache__/
.ipynb_checkpoints
.pylintrc

*.egg-info
*.swp

_*
.env*

# model files
models/*.gguf

# mkdocs documentation
/site

# build/distribution
/dist
/build

# pre-build
build_docs.sh

# examples
examples/compare/sentiment.csv
